 /* Style the body */

 body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #33308C;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}


 /*--------------------------------------------Colors*/

color_example {
    color:
    #F2295F
    #33308C
    #04D99D
    #F2A03D
    #F24130
    /*additional borders and shadows*/
    #FFFFFF
    #ddd
    #ccc
    } 

/*--------------------------------------------Container*/

.game-container {
    max-width: 600px;
    margin:auto;
    padding: 20px
    box-sizing: border-box;
}
/*create the 4x4 grid*/
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justufy-content: center;
}

/*--------------------------------------------Cards*/

.card {
    background: #F2295F;
    width: calc(25% - 10px);
    height: 0;
    padding-top: calc(25% - 10px);
    position: relative;
    background-size: cover;
    background-position: center;
}

.card::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card.flipped {
    font-size: 16px;
    background: #F2A03D;
}

/*--------------------------------------------Buttons*/
button {
    background-color: #04D99D;
    color: #33308C;
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #F2295F;
}

.hidden {
    display: none;
}

/*--------------------------------------------Footer*/
.game-footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: #F2A03D;
}

.game-footer a {
    color: #04D99D;
    text-decoration: none;
}

.game-footer a:hover {
    text-decoration: underline;
}

/*--------------------------------------------Media Queries*/
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .card {
        width: calc(25% - 10px);
        padding-top: calc(25% - 10px);
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: calc(50% - 10px);
        padding-top: calc(50% - 10px);
    }
}

/*-----------------------------------Flexible Text Sizes*/
.staus-text, .game-footer p{
    font-size: calc(10px + 1vw);
}