 /*------------------------Header and Navigation Styling*/
 header {
    background-image: url("/assets/img/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    z-index:10;
 }

 .navbar {
    /* background-image: url('./assets/img/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #33308C; */
    padding: 1em 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
 }

 body {
    padding-top: 70px;
    margin: 0;
 }

 .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.nav-list {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav-item a:hover {
    background-color: #04D99D;
}

 /*---------------------------------------Style the body */

 body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #33308C;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 90%;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}


 /*--------------------------------------------Colors*/

color_example {
    color:
    #F2295F
    #33308C
    #04D99D
    #F2A03D
    #F24130
    /*additional borders and shadows*/
    #FFFFFF
    #ddd
    #ccc
    } 

/*--------------------------------------------Container*/

.game-container {
    width: auto;
    max-width: 100%;
    margin:auto;
    padding: 20px
    box-sizing: border-box;
}
/*create the 4x4 grid*/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    justify-content: center;
}

/*--------------------------------------------Cards*/

.card {
    background: #F2295F;
    position: relative;
    width: calc(25% -10px);
    height: 0;
    padding-top: calc(25% -10px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card.flipped {
    font-size: 16px;
    background: #F2A03D;
}

/*--------------------------------------------Buttons*/
button {
    background-color: #04D99D;
    color: #33308C;
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #F2295F;
}

.hidden {
    display: none;
}

/*--------------------------------------------Footer*/
.game-footer {
    text-align: center;
    padding: 10px;
    color: #F2A03D;
}

.game-footer a {
    color: #04D99D;
    text-decoration: none;
}

.game-footer a:hover {
    text-decoration: underline;
}

/*--------------------------------------------Media Queries*/
@media (max-width: 320px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        padding: 10%;
    }
}

@media (max-width: 414px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        padding: 10%;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .card {
        padding: 10%;
    }
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .card {
        padding: 10%;
    }
}

/*-----------------------------------Flexible Text Sizes*/
.status-text, .game-footer p{
    font-size: calc(10px + 1vw);
}